table.shop_table {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 50px;
    width: 100%;
  }
  table.shop_table th,
  table.shop_table td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 15px;
    text-align: center;
  }
  table.shop_table th {
    background: none repeat scroll 0 0 #f4f4f4;
    font-size: 15px;
    text-transform: uppercase;
  }
  table.shop_table td.product-remove button {
    display: inline-block;
    padding: 0 5px 2px;
    text-transform: uppercase;
  }
  
  table.shop_table td.product-remove button:hover {
    color: #fff;
    background: red;
    text-decoration: none;
  }
  table.shop_table td.product-name a {
    color: #222;
  }
  table.shop_table td.product-name a:hover {
    color: #5a88ca;
    text-decoration: none;
  }
  td.product-thumbnail img {
    height: auto;
    width: 70px;
  }
  td.product-name {
    font-size: 18px;
  }
  .product-name {
    font-size: 25px;
    margin-bottom: 20px;
  }
  td.product-quantity div.quantity {
    float: none;
    margin: 0;
  }
  div.quantity button.plus,
  div.quantity button.minus {
    background: none repeat scroll 0 0 #5a88ca;
    border: medium none;
    color: #fff;
    height: 25px;
    line-height: 15px;
    width: 25px;
  }
  td.product-quantity div.quantity {
    float: none;
    margin: 0;
  }
  div.quantity button.plus:hover,
  div.quantity button.minus:hover {
    background-color: #222;
  }
  .quantity {
    float: left;
    margin-right: 15px;
  }
  .quantity input[type="number"] {
    border: 1px solid #5a88ca;
    padding: 5px;
    width: 50px;
  }
 