.footer-top-area .zigzag-bottom {
  background: #f4f4f4;
}
.footer-top-area {
  background: none repeat scroll 0 0 #333;
  color: #999;
  padding: 35px 0 180px;
}
.footer-about-us span {
  color: #5a88ca;
}
.footer-about-us h2 {
  font-weight: 200;
}
.footer-menu ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.footer-menu ul li {
  border-bottom: 1px dashed #555;
  padding: 5px 0;
}
.footer-menu a {
  display: block;
  padding: 5px 0;
  color: #999;
}
.footer-wid-title {
  font-family: raleway;
  font-size: 30px;
  font-weight: 100;
  color: #fff;
}
.newsletter-form input[type="email"] {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
.newsletter-form input[type="submit"] {
  background: none repeat scroll 0 0 #5a88ca;
  border: medium none;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 7px 20px;
  text-transform: uppercase;
  border: 1px solid #5a88ca;
}
.newsletter-form input[type="submit"]:hover {
  background: #222;
  border-color: #666;
}
.newsletter-form {
  margin-top: 25px;
}
