.product-option-shop {
    margin-top: 15px;
}
.add_to_cart_button {
    margin-top: 15px;
    background: none repeat scroll 0 0 #5a88ca;
    border: medium none;
    color: #fff;
    padding: 6px 25px;display: inline-block
}
.add_to_cart_button:hover {background-color: #222;color: #fff;text-decoration: none}
